*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  display: block;
}
ul{
  display: flex;
  list-style: none;
  gap: 40px;
  background-color: #3A3A3A;
  padding: 15px;
  width: 100vmax;
  padding-left: 40px;
}
li{
  font-family: 'Kanit';
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.h1main{
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
}
img{
  width: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 105px;
  animation: loopAnimate 8s linear infinite;
}
h1,h2,h3{
  font-family: 'Kanit';
  font-weight: 400;
}
h2{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}
h3{
  color: black;
}
button{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 20px;
}
.footer-container{
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100vmax;
  text-align: center;
  padding: 10px;
}
.list-container ul{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right:auto ;
  align-items: center;
  margin-top: 20px;
  background-color: transparent;
  gap: 15px;
}
.list-container ul li{
  display: flex;
  color: black;
  background-color: white;
  height: 80px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.list{
  width: 100%;
  justify-content: space-between;
}
.form-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  gap: 20px;
}
.form-container h2{
  font-size: 25px;
  text-align: left;
}
form{
  margin-left: auto;
  margin-right: auto;
}
input{
  width: 400px;
  height: 40px;
  font-family: 'Kanit';
  font-weight: 400;
  padding-left: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 15px;
}
@keyframes loopAnimate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}